.navigationBarScss {
  display: flex;
  position: relative;
  .navigation-dataNumber {
    display: flex;
    .navigation-page-data-count {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 0.85rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #377d22;
      color: #fff;
      border-radius: 7px;
      cursor: pointer;
    }
    label {
      color: rgba(111, 112, 112, 0.8);
      font-size: 0.85rem;
      height: 1.5rem;
      font-weight: 600;
      display: flex;
       align-content:  space-between;
    }
  }
  .pagination-pagenumber {
    position: absolute;
    width: 40%;
    right: 30%;
    .pagination-paggination {
      display: flex;
      align-items: center;
      justify-content: space-around;
    
      label {
        width: 2rem;
        font-size: 0.85rem;
     
      }
      label:hover {
        cursor: pointer;
      
      }
      .active {
        width: 1.5rem;
        height: 1.5rem;
        color: white;
        // align-items: center;
        // justify-content: space-between;
        background-color: #377d22;
        border-radius: 5px;
        border:none;
        padding-left: 10;
      }
      .inactive {
        width: 1.5rem;
        height: 1.5rem;
        // align-items: center;
        // justify-content: space-between;
        border-radius: 5px;
        border: none ;
        padding-left: 10; 
      }
    }
  }
}

.backNavigatorCss {
  position: absolute;
  left: -1rem;
  z-index: 10;
}
.userDynTbl {
  width: 100%;
}

.adminPermissionTable {
  display: flex;
  justify-items: center;
  margin-bottom: 1rem;
  padding: 0 !important;
  font-size: x-small;

  border-radius: 10px;
  background-color: #000;
  table {
    width: 100%;
    border-collapse: separate !important;
    background-color: #000;
    border-radius: 10px;
    border-spacing: 0;
    // padding: 5px;
    // border-radius: 10px;
    .thre {
      // background: #D3D4D6;
      // border-radius: 10px;
      // -moz-border-radius: 10px;
      // -webkit-border-radius: 10px;
      // height: 3rem;
      td {
        background: #d3d4d6;
      }
      td:first-child {
        border-top-left-radius: 10px;
      }
      td:last-child {
        border-top-right-radius: 10px;
      }
    }
    // .thre td:first-child{
    //     border-radius: 10px 0 0 10px;
    //     -moz-border-radius: 10px 0 0 10px;
    //     -webkit-border-radius: 10px 0 0 10px;
    // }
    //     thead{
    //         background: #D3D4D6;
    //         height: 3rem;
    //         font-weight: bold;
    //         // border-top-left-radius: 10px !important;
    //         // border-top-right-radius: 10px;

    //             tr{
    //                 td{
    //                     padding: 1rem;
    //                 }
    //                 td:nth-child(1){
    //                     // border-top-left-radius: 10%;

    // border-radius: 6px 0 0 0;
    // -moz-border-radius: 6px 0 0 0;
    // -webkit-border-radius: 6px 0 0 0;
    //                 }
    //                 td:nth-child(5){
    //                 border-top-right-radius: 10px;
    //                 }
    //         }
    //     }
    tbody {
      background: #f6f6f7;
      box-shadow: inset 0 -3px 10px #0000005c;
      border-radius: 10px;
      // border-bottom-left-radius: 10px;
      tr {
        height: 3rem;

        /* Remove default checkbox */
        // [type="checkbox"]:not(:checked),
        // [type="checkbox"]:checked {
        // position: absolute;
        // left: -9999px;
        // }
        // [type="checkbox"]:not(:checked) + label,
        // [type="checkbox"]:checked + label {
        // position: relative;
        // overflow: hidden;
        // padding-left: 35px;
        // cursor: pointer;
        // display: inline-block;
        // height: 10px;
        // line-height: 10px;

        // -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        // -moz-user-select: none; /* mozilla browsers */
        // -khtml-user-select: none; /* webkit (konqueror) browsers */
        // -ms-user-select: none; /* IE10+ */
        // }

        // /* checkbox aspect */
        // [type="checkbox"] + label:before,
        // [type="checkbox"] + label:after {
        // content: '';
        // position: absolute;
        // left: 0;
        // z-index: 1;

        // -webkit-transition: .2s;
        // transition: .2s;
        // }
        // /* Unchecked styles */
        // [type="checkbox"]:not(:checked) + label:before {
        // top: 0px;
        // width: 10px; height: 10px;
        // border: 1px solid red;
        // }
        // [type="checkbox"]:not(:checked) + label:after {
        // top: 0px;
        // width: 10px; height: 10px;
        // border: 1px solid red;
        // z-index: 0;
        // }
        // /* Checked styles */
        // [type="checkbox"]:checked + label:before {
        // top: 2px;
        // width: 6px; height: 12px;
        // border-top: 1px solid transparent;
        // border-left: 1px solid transparent;
        // border-right: 1px solid red;
        // border-bottom: 1px solid red;
        // -webkit-transform: rotateZ(37deg);
        // transform: rotateZ(37deg);

        // -webkit-transform-origin: 20% 40%;
        // transform-origin: 100% 100%;
        // }
        // [type="checkbox"]:checked + label:after {
        // top: 0px;
        // width: 19px; height: 19px;
        // border: 1px solid red;
        // z-index: 0;
        // }
        // /* disabled checkbox */
        // [type="checkbox"]:disabled:not(:checked) + label:before,
        // [type="checkbox"]:disabled:checked + label:before {
        // top: 0;
        // box-shadow: none;
        // background-color: #444;
        // width: 19px; height: 19px;
        // border: 3px solid #444;
        // -webkit-transform: rotateZ(0deg);
        // transform: rotateZ(0deg);
        // }
        // [type="checkbox"]:disabled + label {
        // color: #555;
        // }
        // [type="checkbox"]:disabled:not(:checked) + label:hover:before {
        // border-color: red;
        // }

        td {
          padding: 1rem;
          @include blackCheckBox;
          // input[type="checkbox"] {
          //     height: 40px;
          //     left: 0;
          //     opacity: 0;
          //     position: absolute;
          //     top: 0;
          //     width: 40px;
          //   }

          //   /*position new box*/
          //    input[type="checkbox"] + label::before {
          //     border: 2px solid;
          //     content: "";
          //     height: 40px;
          //     left: 0;
          //     position: absolute;
          //     top: 0;
          //     width: 40px;
          //   }

          //   /*create check symbol with pseudo element*/
          //   input[type="checkbox"] + label::after {
          //     content: "";
          //     border: 4px solid;
          //     border-left: 0;
          //     border-top: 0;
          //     height: 20px;
          //     left: 14px;
          //     opacity: 0;
          //     position: absolute;
          //     top: 6px;
          //     transform: rotate(45deg);
          //     transition: opacity 0.2s ease-in-out;
          //     width: 12px;
          //   }

          //   /*reveal check for 'on' state*/
          //   input[type="checkbox"]:checked + label::after {
          //     opacity: 1;
          //   }
          // input[type="checkbox"] {
          //     display:none;
          // }
          // input[type="checkbox"] + label span {
          //     display:inline-block;
          //     width:19px;
          //     height:19px;
          //     margin:-2px 10px 0 0;
          //     vertical-align:middle;
          //     // background:url(check_radio_sheet.png) left top no-repeat;
          //     cursor:pointer;
          // }
          // input[type="checkbox"]:checked + label span {
          //     // background:url(check_radio_sheet.png) -19px top no-repeat;
          // }
        }
        //     td:nth-child(1){
        //         border-bottom-left-radius: 10px;
        // }
        // td:nth-child(5){
        //     border-bottom-right-radius: 10px;
        // }
      }
    }
  }
}

// .pre-loaderIcon{
//     position: fixed;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // width: 100%;
//     // height: 100vh;
//     // background: linear-gradient(119.5deg, #242524 1.62%, #5B5B5B 90.13%);
// }

// .glowIcon{
//     // overflow: hidden;
//     position: relative;
//     display: flex;
//     justify-content: baseline;
//     align-items: center;
//     // width:30px;
// }
// .glowIcon::after{
//     content:'';
//     width:4px;
//     height:50px;
//     z-index: 999;
//     background-color: #000;
//     position: absolute;
//     top:0;
//     transition: all 1s ease-in-out;
//     transform:  translate(400px,400px);
// }
// .glowIcon:hover::after{
//     transform: translate(-600px,-200px);
// }

//***************New code of january***********************//

.topVerticalBackButton {
  position: absolute;
  left: 218px;
  top: 0.5rem;
  .topIcon {
    color: #2884de;
    background-color: #fff;
    border-radius: 100%;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 5px 8px #2884de26;
      transition: all 0.3s ease-in-out;
    }
  }
}

.lineChartCss {
  width: 100%;
  margin: 1.3rem 0;
  border: 1px solid rgb(146, 145, 145);
  background-color: #fff;
  /* Make points visible on hover */
  .grid .tick {
    stroke: rgb(230, 229, 229);
    opacity: 0.2;
  }
  .points {
    visibility: hidden;
  }
  .points:hover {
    visibility: visible;
    cursor: pointer;
  }
}

.barChartCss {
  width: 100%;
  margin: 0.3rem 0;
  border: 1px solid rgb(146, 145, 145);
  background-color: #fff;
  /* Make points visible on hover */
  .grid .tick {
    stroke: rgb(230, 229, 229);
    opacity: 0.2;
  }
  .points {
    visibility: hidden;
  }
  .points:hover {
    visibility: visible;
    cursor: pointer;
  }
}
